@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Brand Colors */
  --primary: #093F5D;
  --secondary: #F6AC1C;
  --white: #ffffff;
}

body {
  background: var(--white);
  color: #171717;
  font-family: var(--font-urbanist), system-ui, sans-serif;
}
